body {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    font-size: 14px;
}

.menuBtn {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px;
    position: absolute;
    width: 36px;
}
md-toolbar h1 {
    font-size: 1.250em;
    font-weight: 400;
    margin: auto;
}
md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
}
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/**
* Table general
*/
table {
  margin-bottom: 20px;
  max-width: 100%;
  /* width: 100%; */
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;
    border:1px solid #ccc;
}

td, th {
    padding: 12px 6px;
    text-align: left;
    border: 1px solid #ddd;
}
tr:nth-child(odd) td {
    background-color: #f5f5f5;
}

th {
    border-bottom: 1px solid #aaa;
    background-color: #f5f5f5;
}

td.row-number {
    border-right: 1px solid #aaa;
    background-color: #f5f5f5;
}

/*
* General angular animate - Opacity based
*/
.animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity:1;
}


/**
* Explorer style
*/
.explorer-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.explorer-menu ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.explorer-menu .explorer-button {
    border-radius: 0;
    color: inherit;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
    text-transform: none;
}
.explorer-menu > ul > li {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.explorer-menu ul li .explorer-button {
    padding: 0 16px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display:inline-block;
}

.explorer-menu ul li ul li .explorer-button {
    padding: 0 16px 0 32px;
}

.explorer-menu ul li ul li ul li .explorer-button {
    padding: 0 16px 0 48px;
}

.explorer-menu .button-container {
    -webkit-transition: height .3s ease-in;
    -moz-transition: height .3s ease-in;
    -o-transition: height .3s ease-in;
    transition: height .3s ease-in;
    height: 40px;
    opacity: 1;
    overflow: hidden;
}

.explorer-menu ul.passive .button-container {
    height: 0;
    opacity: 0;
}

.explorer-menu .current-item {
    color: #03a9f4;
}

.editor-buttons {
    position: absolute;
    bottom: 0;
    right:0;
    padding: 0 35px 45px 0;
}

.editor-buttons .button-icon {
    width: 24px;
    height: 24px
}

/**
*   Text query style
*/
.CodeMirror {
    border-bottom-style: solid;
}

.query-results-container {
    position: relative;
}
.query-results-container > div {
    /*position: absolute;
    left:0;
    right: 0;*/
}

.query-button-container > * {
    max-width: 220px;
    min-width: 140px;
}

.connection-error-container {
    z-index: 100;
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
}

.connection-error-container > div {
    width: 400px;
    height: 250px;
    background: white;
    position: relative;
    margin: auto;
    top: 100px;
    padding: 25px;
    border-radius: 4px;
}

md-tabs .md-header {
    border-bottom: 1px solid #D8D8D8;
    position: fixed;
    background: white;
    margin-bottom: 20px;
    z-index: 5;
}

md-tabs.md-default-theme .md-header {
    background: white;
}