<md-content flex ng-controller="explorer" class="explorer-menu">
    <ul>
        <li ng-repeat="keyspace in keyspaces">
            <md-button class="explorer-button" ng-click="getColumnFamilies(keyspace)">
                <md-icon md-svg-src="img/icons/database.svg" alt="Insert Drive Icon"></md-icon> {{keyspace.name}}
            </md-button>
            <ul>
                <li ng-repeat="columnFamily in keyspace.columnFamilies" ng-animate=" 'animate' ">
                    <md-button class="explorer-button" ng-click="getColumns(keyspace,columnFamily)">
                        <md-icon md-svg-src="img/icons/table.svg" alt="Insert Drive Icon"></md-icon> {{columnFamily.name}}
                    </md-button>
                    <ul>
                        <li ng-repeat="column in columnFamily.columns">
                            <md-button class="explorer-button"><md-icon md-svg-src="img/icons/file_empty.svg" alt="Insert Drive Icon"></md-icon> {{column.column_name}}</md-button>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</md-content>

