<div  layout="column" ng-controller="ExplorerController">
    <md-content flex class="explorer-menu">
        <md-button class="explorer-button" ng-click="setCurrentItem(null)" ng-class="{'current-item': null==currentItem}">
            <md-icon md-svg-src="img/icons/ic_computer_24px.svg"></md-icon> Cassandra Server
        </md-button>
        <ul>
            <li ng-repeat="keyspace in keyspaces">
                <md-button class="explorer-button" ng-click="getColumnFamilies(keyspace);setCurrentItem(keyspace)" ng-class="{'current-item': keyspace==currentItem}">
                    <md-icon md-svg-src="img/icons/database.svg"></md-icon> {{keyspace.keyspace_name}}
                </md-button>
                <ul ng-class="{passive: keyspace.isActive==false}">
                    <li ng-repeat="columnFamily in keyspace.columnFamilies">
                        <div class="button-container">
                            <md-button class="explorer-button" ng-click="getColumns(keyspace,columnFamily);setCurrentItem(columnFamily)" ng-class="{'current-item': columnFamily==currentItem}">
                                <md-icon md-svg-src="img/icons/table.svg"></md-icon> {{columnFamily.columnfamily_name}}
                            </md-button>
                        </div>
                        <ul ng-class="{passive: columnFamily.isActive==false}">
                            <li ng-repeat="column in columnFamily.columns">
                                <div class="button-container">
                                    <md-button class="explorer-button" ng-click="selectColumn(column);setCurrentItem(column)" ng-class="{'current-item': column==currentItem}">
                                        <md-icon md-svg-src="img/icons/file_empty.svg"></md-icon> {{column.column_name}} <span ng-if="column.type=='partition_key'">(pk)</span>
                                    </md-button>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <br/><br/><br/><br/><br/><br/>
    </md-content>


<!-- host editor-->
<div ng-if="currentItem==null" class="editor-buttons animate-if">
    <md-button ng-click="addUpdateKeyspace()" class="md-fab md-primary" aria-label="Add Keyspace">
        <md-tooltip>
            Add Keyspace
        </md-tooltip>
        <md-icon md-svg-src="img/icons/ic_add_24px.svg"></md-icon>
    </md-button>
    <!--md-button class="md-fab md-primary" aria-label="Edit Connection">
        <md-tooltip>
            Edit Connection
        </md-tooltip>
        <md-icon md-svg-src="img/icons/ic_mode_edit_24px.svg"></md-icon>
    </md-button-->
    <md-button class="md-fab md-primary" aria-label="Refresh" ng-click="refresh()">
        <md-tooltip>
            Refresh
        </md-tooltip>
        <md-icon class="button-icon" md-svg-src="img/icons/ic_refresh_24px.svg"></md-icon>
    </md-button>
</div>

<!-- keyspace editor -->
<div ng-if="currentItem.columnFamilies" class="editor-buttons animate-if">
    <!--md-button class="md-fab md-primary" aria-label="Add Table">
        <md-tooltip>
            Add Table
        </md-tooltip>
        <md-icon md-svg-src="img/icons/ic_add_24px.svg"></md-icon>
    </md-button-->
    <md-button class="md-fab md-primary" aria-label="Drop Keyspace" ng-click="dropKeyspace(currentItem)">
        <md-tooltip>
            Drop
        </md-tooltip>
        <md-icon md-svg-src="img/icons/ic_delete_24px.svg"></md-icon>
    </md-button>
    <md-button ng-click="addUpdateKeyspace(currentItem)" class="md-fab md-primary" aria-label="Edit Keyspace">
        <md-tooltip>
            Edit
        </md-tooltip>
        <md-icon md-svg-src="img/icons/ic_mode_edit_24px.svg"></md-icon>
    </md-button>
</div>

<!-- column family editor -->
<div ng-if="currentItem.columns" class="editor-buttons animate-if">
    <md-button class="md-fab md-primary" aria-label="Add Column" ng-click="addUpdateColumn(currentItem)">
        <md-tooltip>
            Add Column
        </md-tooltip>
        <md-icon md-svg-src="img/icons/ic_add_24px.svg"></md-icon>
    </md-button>
    <md-button class="md-fab md-primary" aria-label="Drop Table" ng-click="dropColumnFamily(currentItem)">
        <md-tooltip>
            Drop
        </md-tooltip>
        <md-icon md-svg-src="img/icons/ic_delete_24px.svg"></md-icon>
    </md-button>
    <md-button class="md-fab md-primary" aria-label="Drop Table" ng-click="showRows(currentItem)">
        <md-tooltip>
            Select Rows
        </md-tooltip>
        <md-icon md-svg-src="img/icons/ic_view_list_24px.svg"></md-icon>
    </md-button>

    <!--md-button class="md-fab md-primary" aria-label="Edit Table">
        <md-tooltip>
            Edit
        </md-tooltip>
        <md-icon md-svg-src="img/icons/ic_mode_edit_24px.svg"></md-icon>
    </md-button-->
</div>

<!-- column editor -->
<div ng-if="currentItem.column_name" class="editor-buttons animate-if">
    <md-button class="md-fab md-primary" aria-label="Drop Column" ng-click="dropColumn(currentItem)">
        <md-tooltip>
            Drop
        </md-tooltip>
        <md-icon md-svg-src="img/icons/ic_delete_24px.svg"></md-icon>
    </md-button>
    <md-button class="md-fab md-primary" aria-label="Edit Column" ng-click="addUpdateColumn(currentItem,currentItem)">
        <md-tooltip>
            Edit
        </md-tooltip>
        <md-icon md-svg-src="img/icons/ic_mode_edit_24px.svg"></md-icon>
    </md-button>
</div>
</div>



</div>