<div ng-controller="TextQueryController" style="margin-top: 12px;">
    <section layout="row" class="query-button-container" layout-sm="column" layout-wrap layout-margin layout-fill layout-padding layout-align="left left">
        <md-button class="md-raised" ng-click="executeQuery()"  flex flex-md>
            <md-icon md-svg-src="img/icons/ic_play_arrow_24px.svg" style="color:#00A000"></md-icon> Execute
        </md-button>
        <md-select ng-model="selectedKeyspaceName" ng-click="loadKeyspaces()" placeholder="keyspace" flex flex-md>
            <md-option ng-value="k.keyspace_name" ng-repeat="k in keyspaces">{{ k.keyspace_name }}</md-option>
        </md-select>
        <md-button ng-disabled="!(queryResult.rows.length > 0)" ng-csv="queryResult.rows" class="md-raised"  flex flex-md>
            <md-icon md-svg-src="img/icons/ic_file_download_24px.svg"></md-icon> CSV
        </md-button>
        <md-button class="md-raised" ng-click="closeThisTab()" flex flex-md>
            <md-icon md-svg-src="img/icons/ic_close_24px.svg"></md-icon> Close
        </md-button>
    </section>
    <div layout="column">
        <div>
            <md-input-container flex style="top:10px;">
                <label>CQL</label>
                <textarea class="md-input" ng-model="cqlQuery" columns="15" ui-codemirror="{onLoad:codemirrorLoaded}"></textarea>
            </md-input-container>
        </div>
        <div style="height: 15px;">
            <md-progress-linear class="animate-if" ng-if="inProgress" md-mode="indeterminate"></md-progress-linear>
        </div>
        <div ng-switch="expression" layout="column" class="query-results-container">
            <div>
                <table ng-if="queryResult.rows.length > 0" class="md-whiteframe-z1 animate-if" >
                    <tr>
                        <th></th>
                        <th ng-repeat="column in queryResult.meta.columns">{{column.name}}</th>
                    </tr>
                    <tr ng-repeat="row in queryResult.rows">
                        <td class="row-number">{{$index + 1}}</td>
                        <td ng-repeat="column in queryResult.meta.columns">{{row[column.name]}}</td>
                    </tr>
                </table>
            </div>
            <div>
                <div ng-if="queryResult.rows.length == 0" class="md-whiteframe-z1 animate-if">
                    <md-toolbar class="md-accent">
                        <div class="md-toolbar-tools">
                            <span class="md-flex">Executed</span>
                        </div>
                    </md-toolbar>
                    <md-content class="md-padding">
                        No records found for this query.
                    </md-content>
                </div>
            </div>
            <div>
                <div ng-if="queryResult.error" class="md-whiteframe-z1 animate-if">
                    <md-toolbar class="md-warn">
                        <div class="md-toolbar-tools">
                            <span class="md-flex">{{queryResult.error}}</span>
                        </div>
                    </md-toolbar>
                    <md-content class="md-padding">
                        {{queryResult.message}}
                    </md-content>
                </div>
            </div>
            <div>
                <div ng-if="queryResult.header" class="md-whiteframe-z1 animate-if">
                    <md-toolbar class="md-accent">
                        <div class="md-toolbar-tools">
                            <span class="md-flex">Executed</span>
                        </div>
                    </md-toolbar>
                    <md-content class="md-padding">
                        Query was executed. (Id: {{queryResult.header.streamId}})
                    </md-content>
                </div>
            </div>
        </div>
    </div>
</div>